.dialogAdmin {
	min-width: 300px;
}

.mainContent {
	padding-left: 1%;
	padding-right: 1%;
}

.bankAccountCard {
	padding: 5px;
	flex: auto;
}

.redNumber {
	color: red;
}

.greenNumber {
	color: green;
}

/*
* Main class for transaction popup
* - Default width 
*/
.dialogTransaction {
	min-width: 700px;
}

/*
* Force same height for input container as by default, md-select and input does not have same height
*/
.dialogTransaction md-input-container .md-errors-spacer {
	min-height: 0;
}

/*
* Reduce padding for md-datatable in order to align it with form input in popup
*/
.dialogTransaction table.md-table.md-row-select td.md-cell:first-child,
.dialogTransaction table.md-table.md-row-select th.md-column:first-child {
	padding: 5px 10px;
}

/*
* REduce height of orw for md-datatable
*/
.transactionTable table.md-table tbody.md-body > tr.md-row,
table.md-table tfoot.md-foot > tr.md-row {
	height: 30px;
}

/*
* Add a top border in popup Transaction for delimiting action button and form
*/
.FooterAction {
	border-top: 1px;
	border-top-style: solid;
	border-top-color: rgba(0, 0, 0, 0.1);
}

.SubTransaction {
	border-style: solid;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.2);
}

.dialogTransaction md-dialog-content {
	padding: 30px;
}

.searchText {
	padding-left: 10px;
	border-style: none;
	background-color: #EEEEEE;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #999999;
}

.searchText:focus {
	outline-width: 0;
}

.chart-panel {
	margin: 10px;
	border-color: #999;
	border: 1px solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.chart-panel-heading {
	font-weight: bold;
	padding: 10px 15px;
}

.chart-panel-content {
	padding: 10px;
}

.virtualRepeatdemoDeferredLoading {
  height: 700px;
  width: 100%;
  max-width: 100%; 
}

/* On transaction table, style for heading rows (month) */ 
.transaction-group-row {
	padding-left: 0px;
	font-weight: bold;
}

/* On transaction table, style for transactions rows */
.transaction-row:hover {
	background-color: #EEEEEE;
}

.transaction-row-action {
	right:0;
}