<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>Transactions</title>

	<!-- style sheet -->
	<link href="bower_components/angular-material-data-table/dist/md-data-table.css" rel="stylesheet" type="text/css"/>
	<link href="bower_components/angular-material/angular-material.css" rel="stylesheet" type="text/css"/>

	<link href="css/transactions.css" rel="stylesheet" type="text/css"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Bower modules scripts -->
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
	<script src="bower_components/angular-material/angular-material.min.js"></script>
	<script src="bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="bower_components/angular-aria/angular-aria.min.js"></script>
	<script src="bower_components/moment/moment.js"></script>
	<script src="bower_components/angular-moment/angular-moment.js"></script>
	<script src="bower_components/chart.js/dist/Chart.js"></script>
	<script src="bower_components/angular-chart.js/dist/angular-chart.min.js"></script>


	<!-- Application script -->
	<script src="app.js"></script>
	<script src="transactions/transactions-controller.js"></script>
	<script src="transactions/transactions-dialog-controller.js"></script>
	<script src="transactions/transactions-service.js"></script>
	<script src="dialog/dialog-controller.js"></script>
	<script src="categories/categories-service.js"></script>
	<script src="main-controller.js"></script>
	<script src="bankaccount/bankaccount-service.js"></script>
	<script src="stats/stats-controller.js"></script>
	<script src="stats/stats-service.js"></script>
	<script src="stats/stats-chart-directive.js"></script>


</head>

<body ng-app="transactions" layout="column" ng-controller="MainCtrl as ctrl">

	<md-toolbar layout="row">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button " aria-label="Close Side Panel" ng-click="ctrl.closeOrOpenSidePanel()">
				<md-tooltip>Close Side Panel</md-tooltip>
				<md-icon>dehaze</md-icon>
			</md-button>
			<div>
				Gestion de comptes
			</div>
		</div>		
	</md-toolbar>

	<md-content flex layout="row">
		<md-sidenav class="md-sidenav-left" md-component-id="left" 	 md-whiteframe="4" md-is-locked-open="sideOpen">
			<md-content >
				<div layout="column">
					<md-list>
						<md-list-item ng-click="ctrl.goToPage('/')">
							<md-icon>euro_symbol</md-icon>
							<p>Transactions</p>
						</md-list-item>
						<md-list-item ng-click="ctrl.goToPage('/stats')">
							<md-icon>timeline</md-icon>
							<p>Stats</p>

						</md-list-item>
						<md-list-item ng-click="ctrl.goToPage('/stats')">
							<p style="padding-left: 30%;">Général</p>
						</md-list-item>
						<md-list-item ng-click="ctrl.goToPage('/stats')">
							<p style="padding-left: 30%;">By Category</p>
						</md-list-item>
						<md-list-item ng-click="ctrl.goToPage('/stats')">
							<p style="padding-left: 30%;">By Account</p>
						</md-list-item>
					</md-list>
				</div>

			</md-content>

		</md-sidenav>

		<div ng-view flex></div>
	</md-content>

</body>
</html>