<div class="mainContent">
	<!-- 
	 Account Detail
	-->
	<div layout="row">
		<md-card ng-repeat="totalCategory in bankAccountTotalByCategory" class="bankAccountCard">
			<div>
				<span style="font-weight: bold">{{totalCategory._id}}</span> : <span ng-class="{'redNumber' : totalCategory.total < 0, 'greenNumber' : totalCategory.total > 0}">{{totalCategory.total}}</span>

				<!-- Sub account detail --> 
				<div ng-repeat="totalBankAccount in bankAccountTotal | filter:totalCategory._id" layout="column">
					<div flex="auto" flex-offset="5" ng-hide="totalBankAccount.total==0">
						{{totalBankAccount._id.label}} : <span ng-class="{'redNumber' : totalBankAccount.total < 0, 'greenNumber' : totalBankAccount.total > 0}">{{totalBankAccount.total}}</span>
					</div>	
				</div>
			</div>
		</md-card>
	</div>

	<!-- Main datatable -->
	<md-card layout="column" ng-init="ctrl.loadTransactions()">
		<!-- Action Toolbar -->
		<md-toolbar id="transactionToolbar" >
			<div class="md-toolbar-tools" layout="row">
				<span>Transactions</span>
				<span flex></span>
				<!-- Add Button -->
				<md-button class="md-icon-button" ng-click="ctrl.addTransaction()">
					<md-icon>add</md-icon>
				</md-button>
				<!-- Delete Button -->
				<md-button class="md-icon-button" ng-click="ctrl.deleteTransaction()">
					<md-icon>delete</md-icon>
				</md-button>

				<!-- filter -->
				<div layout="row">
					<md-button class="md-icon-button" ng-click="showFilter = !showFilter">		
						<md-icon class="material-icons">search</md-icon>
					</md-button>
					<form  name="filter.form" style="padding-top: 6px;" ng-show="showFilter">
						<input class="searchText" ng-model="query.filter" placeholder="search"  aria-invalid="false" type="text">
					</form>
				</div>

				<!-- Menu -->
				<md-menu md-position-mode="target-right target">
					<!-- More Button -->
					<md-button class="md-icon-button" aria-label="Parameters" ng-click="openMenu($mdMenu, $event)">
						<md-icon md-menu-origin>more_vert</md-icon>
					</md-button>
					<md-menu-content width="4">
						<md-menu-item>
							<md-button ng-click="addNewCategory($event)">
								New category ...
							</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button ng-click="addNewBankAccount($event)">
								New bank account ...
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</div>
		</md-toolbar>

		<md-content class="virtualRepeatdemoDeferredLoading">			
			<md-list md-virtual-repeat-container id="vertical-container">
		    	<md-list-item md-virtual-repeat="item in items | orderBy : query.order" class="repeated-item" layout="row">
		    		<div id="groupMonth" ng-if="item.group" layout="column" class="groupMonth">
		    			{{item.group}}
		    		</div>
		    		<div id="item" ng-if="item.group == undefined" layout="row" flex="100">
		    			<div flex="5">
		    				<md-checkbox ng-model="item.selected" ng-change="ctrl.updateSelectedList(item)"/>
			    		</div>
			    		<div flex="10">
			        		{{item.dateToDisplay | date:'dd/MM/yyyy'}}
			        	</div>
			        	<div flex="25">
			        		{{item.transaction.label}}
			        	</div>
			        	<div flex="20">
			        		{{item.transaction.category.category}} : {{item.transaction.category.label}}
			        	</div>
			        	<div flex="20">
			        		{{item.transaction.bankaccount.category}} : {{item.transaction.bankaccount.label}}
			        	</div>
			        	<div flex="10">
			        		{{item.transaction.income}}
			        	</div>
			        	<div flex="10">
			        		{{item.transaction.outcome}}
			        	</div>
		    		</div>
		      	</md-list-item>
		    </md-list>
		</md-content>
	</md-card>
</div>